


/******************** Mainimg ********************/

#Mainimg {
    /*width: 100%;
    height: 627px;
    background-image: url(../img/mainimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;*/
}

#Mainimg > .inner {
    position: relative;
    height: 627px;
}

.M_txt {
    position: absolute;
    left: 15%;
    top: 65%;
    color: #f40f54;
}

.M_txt li {
    float: left;
}

.M_txt li > p {
    margin: 0 25px;
    font-size: 18px;
    letter-spacing: -0.6px;
}

.M_txt li > p:nth-child(3) {
    font-size: 17px;
}

.M_txt li > div {
    float: left;
    margin-top: 6px;
    width: 2px;
    height: 40px;
    background-color: #f40f54;
}

.M_txt li p:nth-child(2) {
    letter-spacing: -0.6px;
}

.M_txt li p > span {
    font-family: NotoSansCJKkr-DemiLight;
}

.M_bg0 img {
    margin: 0 auto;
    
}

/* 메인 슬라이드 시작*/

#wrapper {
    position: relative;
    margin: 0 auto;
    margin-left: 100px;
    width: calc(100% - 100px);
}

.bxslider > div > img {
    width: 100%;
}

/*수정*/

.news_slide {
    width: 50%
}

.bxslider2 > div > img {
    width: 100%;
}

/* 메인 슬라이드 끝*/

    @media all and (max-width:736px) {
        .M_txt {
            display: none;
        }
    }


/******************** Contents ********************/

.rec {
    position: relative;
    margin: 0 auto;
    max-width: 1290px;
    height: 1106px;
    text-align: center;
}

.rec_title {
    position: relative;
    padding: 110px 0;
    width: 100%;
    height: 80px;
}

.rec_title h2 {
    position: absolute;
    left: 43%;
    width: 220px;
    height: 80px;
    background-color: #fff;
    font-family: NotoSansCJKkr-Black;
}

.rec_title::before {
    position: absolute;
    content: "";
    display: inline-block;
    background-color: #000;
    top: 129px;
    left: 0;
    width: 100%;
    height: 2px;
}

.rec_slider > .l_btn {
    display: none;
    position: absolute;
    left: 0;
    top: 500px;
}

.rec_slider > .r_btn {
    display: none;
    position: absolute;
    right: 0;
    top: 500px;
}

.rec_slider {
    margin-bottom: 65px;
    height: 506px;
}

.rec_list > .slide {
    float: left;
    width: 33.3%;
}

.rec_list > .slide > li:hover {
    
}

.rec_data:before {
    content: "";
    display: block;
    clear: both;
}

.rec_data {
    max-width: 1280px;
    height: 130px;
    background-color: #292727;
    border-radius: 5px;
}

.data_box {
    float: left;
    width: 80%;
}

.data_box:nth-child(2),
.data_box:nth-child(3) {
    display: none;
}

.data_box > dl > dd > span {
    font-family: NotoSansCJKkr-Light;
}

.data_box > dl {
    float: left;
}

.data_box > dl:nth-child(1) {
    padding-top: 35px;
    width: 400px;
    font-family: NotoSansCJKkr-Bold;
}

.data_box > dl > dt {
    color: #A5080C;
    font-size: 27px;
}

.data_box > dl > dd:nth-child(2) {
    padding-top: 5px;
    padding-left: 0px;
    color: #C2BDBD;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}

.data_box > dl > dd {
    padding-left: 10px;
    padding-top: 25px;
    color: #C2BDBD;
    font-size: 13px;
    text-align: left;
    letter-spacing: -1px;
}

.data_btn {
    float: right;
    width: 160px;
    height: 130px;
    color: #fff;
    font-size: 16px;
    background-color: #A5080C;
    border-radius: 0 5px 5px 0;
    transition: all 0.5s;
}

.data_btn:hover {
    background-color: #fff;
}

.data_btn > p {
    padding-top: 40px;
    transition: all 0.5s;
}

.data_btn p:hover {
    color: #A5080C;
}

    @media all and (max-width:736px) {

        .rec {
            /*position: relative;
            margin: 0 auto;*/
            width: 100%;
            height: auto;
            /*text-align: center;*/
        }

        .rec_title {
            position: relative;
            margin: 0 auto;
            padding: 90px 10px;
            width: 90%;
            height: auto;
        }

        .rec_title h2 {
            position: absolute;
            left: 14%;
            right: 14%;
            margin: 0 auto;
            padding: 0 20px; 
            width: 220px;
            height: auto;
            background-color: #fff;
            font-family: NotoSansCJKkr-Black;
        }
        
        .rec_title::before {
            position: absolute;
            content: "";
            display: inline-block;
            background-color: #000;
            top: 110px;
            left: 0;
            width: 100%;
            height: 2px;
        }

        .rec_slider {
            height: 506px;
            overflow: hidden;
        }
        
        .rec_slider > .l_btn {
            display: block;
            /*position: absolute;*/
            left: 5%;
            top: 400px;
            transition: all 0.5s;
        }
        
        .rec_slider .l_btn:focus .slide:nth-child(1) {
            transform:translateX(-100px);
        }
        

        .rec_slider > .r_btn {
            display: block;
           /* position: absolute;*/
            right: 5%;
            top: 400px;
        }

        .rec_list > .slide {
            /*float: left;*/
            width: 100%;
        }
        
        .rec_list > .slide:nth-child(2),
        .rec_list > .slide:nth-child(3) {
        }
        
        .rec_data {
            width: 100%;
            height: auto;
           /* background-color: #292727;*/
            border-radius: 0;
        }

        .data_box {
            float: none;
            width: 100%;
            padding-bottom: 50px;
        }

        .data_box > dl {
            float: none;
            margin: 0 auto;
            width: 90%;
        }

        .data_box > dl:nth-child(1) {
            /*padding-top: 35px;*/
            width: 100%;
            /*font-family: NotoSansCJKkr-Bold;*/
        }

        .data_box > dl > dt {
            /*color: #A5080C;*/
            font-size: 1.5em;
        }

        .data_box > dl > dd:nth-child(2) {
            /*padding-top: 5px;*/
            padding-left: 0px;
            /*color: #C2BDBD;*/
            font-size: 1em;
            text-align: center;
            /*letter-spacing: 1px;*/
        }

        .data_box > dl > dd {
            padding-left: 0;
            /*padding-top: 25px;
            color: #C2BDBD;*/
            font-size: .8em;
            text-align: center;
            /*letter-spacing: -1px;*/
        }

        .data_btn {
            display: none;
            /*float: right;
            width: 160px;
            height: 130px;
            color: #fff;
            font-size: 16px;
            background-color: #A5080C;
            border-radius: 0 5px 5px 0;
            transition: all 0.5s;*/
        }
    }


/********** banner_set **********/


.banner_set {
    width: 100%;
    height: 340px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner_l {
    float: left;
    padding-left: 165px;
}


.flag h4 {
    margin-top: 70px;
    padding-left: 20px;
    width: 500px;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    letter-spacing: 3px;
    color: #d6c3b2;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.banner_l > h1 {
    padding-top: 17px;
    font-size: 44px;
    font-weight: normal;
    color: #d6c3b2;
}

.banner_r {
    float: right;
    padding: 60px 165px 0 0;
}

    @media all and (max-width:736px) {
        
        .banner_set {
            width: 100%;
            height: auto;
            background-image: url(../img/banner.jpg);
            background-repeat: no-repeat;
            background-size: none;
            background-position: right center;
        }
        
        .banner_set .inner {
            margin: 0 auto;
            width: 100%;
        }

        .banner_l {
            float: none;
            padding-left: 0;
        }

        .flag {
            padding-top: 50px;
        }
        
        .flag h4 {
            margin: 0 auto;
            margin-top: 0;
            padding-left: 0;
            width: 80%;
            height: auto;
            line-height: 50px;
            font-size: .7em;
            letter-spacing: .1em;
            color: #d6c3b2;
            text-align: center;
            background-image: url(../img/flag.png);
            background-repeat: no-repeat;
            background-position: right center;
        }

        .banner_l > h1 {
            margin: 0 auto;
            width: 80%;
            padding-top: 1em;
            font-size: 1.5em;
            font-weight: normal;
            color: #d6c3b2;
        }

        .banner_r {
            float: none;
            margin: 0 auto;
            margin-top: 40px;
            padding: 0;
            width: 248px;
        }
    }


/********** menu_set **********/

.menu_set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #363837;
}

.menu_set > h2 {
    margin: 0 auto;
    padding-top: 90px;
    font-size: 45px;
    text-align: center;
    color: #fff;
}

.menu_set > h3 {
    padding: 10px 0 95px 0;
    font-size: 18px;
    text-align: center;
    color: #9E9A9A;
}

.l_btn {
    position: absolute;
    left: 10%;
    top: 433px;
}

.r_btn {
    position: absolute;
    right: 10%;
    top: 433px;
}

.menu_list {
    margin: 0 auto;
    width: 970px;
    text-align: center;
}

.list {
    float: left;
    margin: 0 auto;
    width: 33.3%
}

.list img {
    width: 250px;
    height: 250px;
}

.list > h5 {
    padding: 15px 0 5px 0;
    font-size: 23px;
    letter-spacing: -1px;
    color: #fff;
    font-family: NotoSansCJKkr-Bold;
}

.list > p {
    font-size: 16px;
    letter-spacing: -2px;
    color: #C2BDBD;
    font-family: NotoSansCJKkr-Reaular;
}

    @media all and (max-width:736px) {

        .menu_set {
            position: relative;
            width: 100%;
            height: auto;
            background-color: #363837;
        }

        .menu_set > h2 {
            margin: 0 auto;
            padding-top: 50px;
            font-size: 45px;
            text-align: center;
            color: #fff;
        }

        .menu_set > h3 {
            padding: 10px 0 40px 0;
            font-size: 18px;
            text-align: center;
            color: #9E9A9A;
        }

        .l_btn {
            position: absolute;
            left: 10%;
            top: 433px;
        }

        .r_btn {
            position: absolute;
            right: 10%;
            top: 433px;
        }

        .menu_list {
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }

        .list {
            float: left;
            margin: 0 auto;
            width: 100%;
        }

        .list img {
            width: 100%;
            height: auto;
        }

        .list > h5 {
            padding: 15px 0 5px 0;
            font-size: 1em;
            letter-spacing: 0;
            color: #fff;
            font-family: NotoSansCJKkr-Bold;
        }

        .list > p {
            font-size: 16px;
            letter-spacing: -2px;
            color: #C2BDBD;
            font-family: NotoSansCJKkr-Reaular;
        }
    }


/* 미니 슬라이드 */

#banner_wrap {
    position: relative;
    margin: 0 auto;
    padding-bottom: 50px;
    width: 100%;
}

#slide_banner {
    text-align: center;
}

#slide_banner img {
    margin: 0 auto;
    width: 250px;
}

#prevBtn {
    position: absolute;
    left: 20%;
    top: 30%;
}

#nextBtn {
    position: absolute;
    right: 20%;
    top: 30%;
}

@media all and (max-width:736px){

    #prevBtn {
        position: absolute;
        left: 5%;
        top: 30%;
    }

    #nextBtn {
        position: absolute;
        right: 5%;
        top: 30%;
    }
}


/* 미니 슬라이드 */


.icon_set {
    margin: 0 auto;
    width: 748px;
    height: 500px;
}

.icon_logo {
    margin: 0 auto;
    padding: 74px 0 60px 0;
    width: 344px;
}

.top_icon  li,
.bottom_icon li {
    float: left;
    width: 25%;
    text-align: center;
}

.top_icon li p,
.bottom_icon li p {
    padding: 20px 0 40px 0;
    font-size: 16px;
    color: #393C3D;
}


    @media all and (max-width:736px) {

        .icon_set {
            margin: 0 auto;
            width: 100%;
            height: auto;
        }

        .icon_logo {
            margin: 0 auto;
            padding:  50px 0;
            width: 70%;
        }

        .icon_logo img {
            width: 100%;
        }

        .top_icon li,
        .bottom_icon li {
            float: left;
            width: 50%;
            text-align: center;
        }
        
        .top_icon i {
            width: 50%;
        }

        .top_icon li p,
        .bottom_icon li p {
            padding: 20px 0 40px 0;
            font-size: 16px;
            color: #393C3D;
        }
        
        .bottom_icon {
            display: none;
        }
    }

/********** insta **********/

.insta::after {
    content: "";
    display: block;
    clear: both;
}

.insta {
    margin-top: 87px;
    height: 430px;
}

.insta_txt {
    font-size: 23px;
    color: #645D5D;
    font-family: NotoSansCJKkr-Bold;
}

.insta_txt i {
    padding-right: 5px;
}

.insta_set div {
    position: relative;
    margin: 0 auto;
    margin-top: 37px;
    width: 19.6%;
    height: 250px;
    display: inline-block;
    overflow: hidden;
}

.insta_set div img {
    transform: scale(1);
    transition: all 0.5s;
}

.insta_set div:hover a:before {
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;
    cursor: pointer;
}

.insta_set div:hover img {
    transform: scale(1.2);
}

.insta_set > .space {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

    @media all and (max-width:736px) {

        .insta {
            margin-top: 87px;
            width: 100%;
            height: auto;
        }

        .insta_txt {
            font-size: 23px;
            color: #645D5D;
            text-align: center;
            font-family: NotoSansCJKkr-Bold;
        }

        .insta_txt i {
            padding-right: 5px;
        }

        .insta_set div {
            float: left;
            margin: 0 auto;
            margin-top: 37px;
            margin-bottom: 40px;
            padding: 0 2.5px;
            width: 32%;
            height: auto;
            display: block;
            overflow: hidden;
        }
        
        .insta_set div:nth-child(4),
        .insta_set div:nth-child(5) {
            display: none;
        }

        .insta_set div img {
            width: 100%;
            transform: scale(1);
            transition: all 0.5s;
        }
        
        .insta_set div:hover img {
            transform: scale(1.2);
        }

        .insta_set > .space {
            margin: 0;
            padding: 0;
            width: 0;
            height: 0;
        }
    }

